{% extends 'base.html' %}
{% load static %}
{% block menu %}
    <a class="nav-link active" aria-current="page" href="{% url 'category_add_view' %}">Создать категорию</a>
    <a class="nav-link active" aria-current="page" href="{% url 'product_add_view' %}">Создать продукт</a>
    <a class="nav-link active" aria-current="page" href="{% url 'categories_view' %}">Категории</a>
{% endblock %}
{% block products_view %}
    {% for article in articles %}
                <div class="card my-3 ms-4 mt-5" style="width: 18rem;">
                    <img src="{{ article.image }}" class="card-img-top" alt="img">
                    <div class="card-body ">
                        <h5 class="card-title">Название: {{ article.name }}</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">Категория: {{ article.type }}</h6>
                        <p class="card-text">Цена: {{ article.price }} $</p>
                        <p class="card-text">Цена: {{ article.stock }} $</p>
                        <a href="{% url 'product_view' pk=article.id %}" class="card-link">Подробнее...</a>
                    </div>
                </div>
    {% endfor %}
{% endblock %}